.Search_input {
  width: 106%;
  max-width: 340px;
  height: 42px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  /* background-color: rgb(126, 124, 124); */
  text-decoration-color: black;
}

.Search_input:hover {
  border: 2.2px solid rgb(155, 153, 153);
  box-shadow: 0px 0px 20px -17px;
}

.Search_input:active {
  transform: scale(0.95);
}

.Search_input:focus {
  border: 2px solid grey;
}

#nav_ul{

  margin-left: 570px;
}
#nav_l1_1:hover, #nav_l1_2:hover, #nav_l1_3:hover{
    color: blue;
  
}
.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
  }

  /* Remove Bootstrap default dropdown arrow */
#profileDropdown::after {
    display: none !important;
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

ul li a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Keeps the default text color */
}

ul li a:hover {
  text-decoration: none; /* Ensures no underline on hover */
}

