{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Trilogy Shop </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="{% static 'css/vendor.min.css' %}">
    <link id="mainStyles" rel="stylesheet" media="screen" href="{% static 'css/styles.min.css' %}">
    <link rel="icon" href="static/img/logo/mainlogo.png" style="border-radius: 50px;">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
  </head>
  <style>
    
    #wishlist_btn {
      height: 42px;
      width: 60px;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 100px;
    }

    #add_cart_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding: 5px 10px;
      border: none;
      margin-left: 60px;
      border-radius: 7px;
      align-self: center;
    }

    #added_cart_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding: 5px 10px;
      border: none;
      margin-left: 45px;
      border-radius: 7px;
      background-color: transparent;
    }

    #added_cart_span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px 10px;
      border: none;
      border-radius: 7px;
      background-color: #0da9ef;
      text-align: center;
    }
    #add_cart_span{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px 10px;
      /* border: none; */
      border-radius: 7px;
      border:2px solid #0da9ef;
      text-align: center;
      &:hover{
        background-color: #0da9ef;
      }
    }

    #added_cart_img, #add_cart_img {
      height: 15px;
      margin-right: 3px;
      align-self: center;
      justify-self:center;
    }

    #added_cart_text, #add_cart_text {
      font-size: 10px;
      color: white;
      align-self: center;
      justify-self:center;
    }
    /* Footer mail  */
    #footer_mail_container{
      margin-left: 400px;
    }
    #footer_mail{
      height: 29px;
      width: 240px;
      border-radius: 10px;
      border: transparent;
      color: transparent;
      background-color: transparent;
      margin-left: 2px;
    }
    #footer_mail:active{
      border: 1px solid white;
    }
</style>

<!--* Body-->
<body>
  <!--! Header  -->
<header class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid d-flex align-items-center justify-content-between" style="margin-left: 80px;">
        <a href="{% url 'home' %}" class="me-3" >
            <img src="static/img/logo/logo_2.png"   style="height: 75px; border-radius: 20px;">
        </a>
        <!--? Navbar  -->
        <nav  style="margin-top: 20px;">
            <ul class="navbar-nav d-flex flex-row gap-4 align-items-center" id="nav_ul">
                <li class="nav-item" >
                    <a class="nav-link" id="nav_l1_1" href="{% url 'home' %}"><h3>Home</h3></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" id="nav_l1_2" href="{% url 'shopgrid' %}"><h3>Shop</h3></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" id="nav_l1_3" href="{% url 'about' %}"><h3>About</h3></a>
                </li>
            </ul>
        </nav>
        <!--^ Search  -->
        <div class="ms-auto me-3 d-flex">
          <form class="form-inline" action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input class="Search_input" name="Search_bar" type="text" placeholder="Search for Product..." id="Search_bar" autocomplete="off"> 
          </form>
        </div>
        <!--^ Account  -->
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center" id="profileDropdown" role="button">
              <img src="static/img/profilelogo.jpg" style="height: 40px; border-radius: 50%; border: 1.5px solid black; margin-right: 25px;">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="account-profile.html">👤 Account</a></li>
              <li><a class="dropdown-item" href="{% url 'cart' %}">🛒 Cart</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">🔒 Logout</a></li>
          </ul>
        </div>
    </div>
</header>
  <!--! Container  -->
  <br><br><br>
  <div class="offcanvas-wrapper">
    <div class="container padding-bottom-3x mb-1">
      <div class="row">
        <div class="col-xl-9 col-lg-8 order-lg-2">
          <div class="shop-toolbar padding-bottom-1x mb-2">
            <div class="column"></div>
          </div>
          <div class="isotope-grid cols-3 mb-2">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            {% for p in pid %}
              <div class="grid-item">
                <div class="product-card" style="border: 1.8px solid #000;">
                  <a class="product-thumb" href="shop-single.html">
                    <img src="{{ p.product_image.url }}" alt="Product">
                  </a>
                  <br>
                  <h3 class="product-title">
                    <a href="shop-single.html"><b>{{ p.product_name }}</b></a>
                  </h3>
                  <h4 class="product-price">
                    <span><b>₹{{ p.product_price }}</b></span>
                  </h4>
                    <span>
                      <!--* Wishlist  -->
                    <form action="{% url 'wishlist' p.id %}" method="post">
                      {% csrf_token %}
                      <button id="wishlist_btn" title="Wishlist">
                          {% if p.id in wishlist %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="320" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="320" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>
                          {% endif %}
                      </button>
                    </form>
                    <br>
                  </span>
                  <form action="{% url 'cart' p.id %}" method="post">
                    {% csrf_token %}
                      <button id="added_cart_btn">
                        {% if p.id in cart_item %}
                        <span id="added_cart_span"><img src="static/img/shopping-cart.png" id="added_cart_img"  alt="Add to cart">
                          <h6 class="added_cart_text"><b>Added to cart </b></h6></span>
                        {% else %}
                        <span id="add_cart_span"><img src="static/img/addcart.png" id="add_cart_img"  alt="Add to cart">
                          <h6 class="add_cart_text"><b>Add to cart</b></h6></span>
                        {% endif %}
                      </button>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 order-lg-1">
          <button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalShopFilters">
            <i class="icon-layout"></i>
          </button>
          <aside class="sidebar sidebar-offcanvas">
            <section class="widget widget-categories">
              <h3 class="widget-title">Shop Categories</h3>
              <ul>
                  {% for i in mid %}
                  <li class="has-children expanded">
                      <a href="{% url 'shopgrid' %}?mid2={{ i.id }}">{{ i.name }}</a>
                      <ul>
                          {% for s in sid %}
                              {% if s.Main_Category.id == i.id %}  
                                  <li>
                                      <a href="{% url 'shopgrid' %}?sid2={{ s.id }}">{{ s.sub_name }}</a>
                                  </li>
                              {% endif %}
                          {% endfor %}
                      </ul>
                  </li>
                  {% endfor %}
              </ul>
            </section> 
            <section class="widget widget-categories">
              <h3 class="widget-title">Price Range</h3>
              <footer class="ui-range-slider-footer">
                <!--* Widget Prize filter  -->
                <form action="{% url 'price_filter' %}" method="post" class="price-range-slider" data-start-min="150" data-start-max="500" data-min="0" data-max="1000" data-step="1">
                  <div class="ui-range-slider"></div>
                  {% csrf_token %}
                  <div class="column">
                    <div class="ui-range-values"><br>
                      <div class="ui-range-value-min">
                        ₹<span></span>
                        <input type="hidden" name="min_num" value="{{ min_num }}">
                      </div>&nbsp;-&nbsp; 
                      <div class="ui-range-value-max">
                        <input type="hidden" name="max_num" value="{{ max_num }}">
                        ₹<span></span>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
                </form>
              </footer>
            </section>
            <!--* Widget Brand Filter-->
            <form action="{% url 'Brand_filter_product' %}" method="post">
              {% csrf_token %}
              <section class="widget">
                  <h3 class="widget-title">Filter by Brand</h3>
                  {% for b in Bid %}
                  <div>
                      <input type="checkbox" name="brand" value="{{ b.id }}"> {{ b.brand }}
                  </div>
                  {% endfor %}
                  <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
              </section>
          </form>
            <!--* Widget Size Filter-->
            <form action="{% url 'size_filter_product' %}" method="post">
              {% csrf_token %}
              <section class="widget">
                <h3 class="widget-title">Filter by Size</h3>
                {% for i in sfid %}
                <div>
                  <input type="checkbox" name="size_{{ i.size }}" value="{{ i.size }}">
                  
                  {{ i.size }} 
                  
                  
                </div>
                {% endfor %}
                <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
              </section>
            </form>
            
          </aside>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div >
          <div >
            <!-- Mobile App Buttons-->
            <section class="widget widget-light-skin">
              <h3 class="widget-title">Our Mobile App</h3>
              <a class="market-button apple-button mb-light-skin" href="#">
                <span class="mb-subtitle">Download on the</span>
                <span class="mb-title">App Store</span>
              </a>
              <a class="market-button google-button mb-light-skin" href="#">
                <span class="mb-subtitle">Download on the</span>
                <span class="mb-title">Google Play</span>
              </a>
              <a class="market-button windows-button mb-light-skin" href="#">
                <span class="mb-subtitle">Download on the</span>
                <span class="mb-title">Windows Store</span>
              </a>
            </section>
          </div>
          <div class="col-2 md-6">
            <!-- About Us-->
            <section class="widget widget-links widget-light-skin">
              <h3 class="widget-title">About Us</h3>
              <ul>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">About tshop</a>
                </li>
                <li>
                  <a href="#">Our Story</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Our Blog</a>
                </li>
              </ul>
            </section>
          </div>
          <div class="col-lg-3 col-md-6">
            <!-- Account / Shipping Info-->
            <section class="widget widget-links widget-light-skin">
              <h3 class="widget-title">Account &amp; Shipping Info</h3>
              <ul>
                <li>
                  <a href="#">Your Account</a>
                </li>
                <li>
                  <a href="#">Shipping Rates & Policies</a>
                </li>
                <li>
                  <a href="#">Refunds & Replacements</a>
                </li>
                <li>
                  <a href="#">Taxes</a>
                </li>
                <li>
                  <a href="#">Delivery Info</a>
                </li>
                <li>
                  <a href="#">Affiliate Program</a>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <hr class="hr-light mt-2 margin-bottom-2x">
        <div class="row">
          <div class="col-md-7 padding-bottom-1x">
            <!-- Payment Methods-->
            <div class="margin-bottom-1x" style="max-width: 615px;">
              <img src="static/img/payment_methods.png" alt="Payment Methods">
            </div>
          </div>
          <div class="col-md-5 padding-bottom-1x">
            <div class="margin-top-1x hidden-md-up"></div>
            <!--Subscription-->
            <form class="subscribe-form" action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544"
              method="post" target="_blank" novalidate>
              <div class="clearfix">
                <div class="input-group input-light" id="footer_mail_container">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
                  <input type="email" id="footer_mail" aria-describedby="emailHelp" placeholder="Email address">
              </div>
              <!-- <span class="form-text text-sm text-white opacity-50">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</span> -->
            </form>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <a class="scroll-to-top-btn" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
    </svg>
  </a>
  <div class="site-backdrop"></div>
  <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
  <script src="{% static 'js/vendor.min.js' %}"></script>
  <script src="{% static 'js/scripts.min.js' %}"></script>
  <script src="{% static 'customizer/customizer.min.js' %}"></script>
  <script src="{% static 'js/modernizr.min.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118296250-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-118296250-1');
  </script>
</body>

</html>